@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Okta APIM ASP.Net Core Sample</h1>
    <p>Authenticated User: @ViewBag.User</p>
    <p>@ViewBag.Message</p>
</div>
